<html>
<head>
    <script src="angular.min.js"></script>
</head>
<body ng-app="myApp">
    <div ng-controller="myController">

        <h3>View Sales</h3>
        <table ng-controller="ListController">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Customer Name</th>
                    <th>Transaction Date</th>
                    <th>Cash Received</th>
                </tr>
            </thead>
            <tbody ng-repeat="data in sales">
                <tr>
                    <td>
                        {{data.Quantity}}
                    </td>
                    <td>
                        {{data.CustomerName}}
                    </td>
                    <td>
                        {{data.TransactionDateTime}}
                    </td>
                    <td>
                        {{data.CashReceived}}
                    </td>
                    <td>
                        <input type="button" value="delete" ng-click=removeRecord(sales)>
                    </td>
                </tr>
            </tbody>
        </table>

        <h3>Add New Sale</h3>
        <table>
            <tr>
                <td>
                    Sale ID
                </td>
                <td>
                    <input type="text" ng-model="sales.SaleId" />
                </td>
            </tr>
            <tr>
                <td>
                    Tyre ID
                </td>
                <td>
                    <input type="text" ng-model="sales.TyreId" />
                </td>
            </tr>
            <tr>
                <td>
                    Quantity
                </td>
                <td>
                    <input type="text" ng-model="sales.Quantity" />
                </td>
            </tr>
            <tr>
                <td>
                    Customer Name
                </td>
                <td>
                    <input type="text" ng-model="sales.CustomerName" />
                </td>
            </tr>
            <tr>
                <td>
                    Transaction Date
                </td>
                <td>
                    <input type="text" ng-model="sales.TransactionDateTime" />
                </td>
            </tr>
            <tr>
                <td>
                    Cash Received
                </td>
                <td>
                    <input type="text" ng-model="sales.CashReceived" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Add" ng-click="submitRecord(sales)" />
                </td>
                <td>
                    <input type="submit" value="update" ng-click="updateRecord(sales)" />
                </td>
            </tr>
        </table>
        <h3>Search Record</h3>
        <input type="text" name="textId" ng-model="Id">
        <input type="submit" value="submit" ng-click="findRecord()" />
        <table>
            <tr>
                <td> Book Id</td>
                <td> Book Name</td>
                <td> ISBN </td>
            </tr>
            <tr>
                <td>
                    {{book.Id}}
                </td>
                <td>
                    {{book.Name}}
                </td>
                <td>
                    {{book.ISBN}} {{error}}
                </td>
            </tr>
        </table>
    </div>
    <script>
	var myApp= angular.module('myApp',[]);
	myApp.controller("myController",function($scope,$http){

		//this function is called once submit button is clicked
		$scope.findRecord=function(){
			var onSuccess = function (data,status,headers,config)
            {
                $scope.book = data;
			};
			var onError = function (data,status,headers,config)
			{
			$scope.error=status;
			};
			alert($scope.Id);
            var promise = $http.get("http://localhost:54951/api/books/"+$scope.Id);
			promise.success(onSuccess);
			promise.error(onError);
		};
		//this function is called once remove button is clicked. Each remove button brings its own data
		$scope.removeRecord=function(data){
			var onSuccess = function (data,status,headers,config)
			{
			$scope.sales=data;
			location.reload();
			};
			var onError = function (data,status,headers,config)
			{
			$scope.error=status;
			};
            var promise = $http.delete('http://localhost:54951/api/Sales/'+data.Id);
			promise.success(onSuccess);
			promise.error(onError);
		};
		//this function is called once save button is clicked
		$scope.submitRecord=function(sale){
            var book = {
                "SaleId": sale.bookId,
                "TyreId": sale.bookName,
                "Quantity": sale.bookISBN,
                "CustomerName": sale.CustomerName,
                "TransactionDateTime": sale.TransactionDateTime,
                "CashReceived": sale.CashReceived
			};
			var onSuccess = function (data,status,headers,config)
            {
                $scope.sales = data;
			    location.reload();
			};
			var onError = function (data,status,headers,config)
			{
			$scope.error=status;
			};
            var promise = $http.post('http://localhost:54951/api/Sales', book);
			promise.success(onSuccess);
			promise.error(onError);
		};
		//this function is called once update button is pressed
		$scope.updateRecord=function(book){
			var book={
				"Id":book.bookId,
				"Name":book.bookName,
				"ISBN":book.bookISBN
			};
			var onSuccess = function (data,status,headers,config)
			{
			$scope.bookList=data;
			location.reload();
			};
			var onError = function (data,status,headers,config)
			{
			$scope.error=status;
			};
			var promise=$http.put('http://localhost:54951/api/books', book);
			promise.success(onSuccess);
			promise.error(onError);
		};
	});
	//this function is called on page load is its scope is only visible inside ListController
	myApp.controller("ListController",function($scope,$http){
		var onSuccess = function (data,status,headers,config)
		{
		$scope.bookList=data;
		};
		var onError = function (data,status,headers,config)
		{
		$scope.error=status;
		};
        var promise = $http.get("http://localhost:54951/api/Sales");
		promise.success(onSuccess);
		promise.error(onError);
	});

    </script>
</body>
</html>
